@model WeatherWebApplication.Models.CityWeather

@{
    ViewBag.Title = "Delete";
}
<head>
    <style>
        body {
            background-image: url('../../Content/Images/853713_weather-hd-wallpapers_1280x1024_h.jpg');
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        html {
            height: 100%;
        }
        .btn {
            width: 100px;
            padding: 4px;
            border-radius: 25px;
            border-color: skyblue;
            background-color: transparent;
            border-width: 3px;
            font-weight: bold;
            font-size: 16px;
            font-family: 'Lucida Grande';
        }
    </style>
</head>
<h2>Delete</h2>

<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <dl class="dl-horizontal">
            <dd style="font-size:30px">
                @Html.DisplayFor(model => model.city)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input class="btn" type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "weatherApp")
            </div>
        }
    </div>
</body>
